/*
/*= require_self
/*= require_tree .
*/
body {
  background: url("http://www.userlogos.org/files/backgrounds/Mafia_Penguin/Map1280x800.jpg") no-repeat center center fixed;
  background-size: cover;
}

#main {
  font-family: 'Bitter', serif;
  width: 800px;
  margin: 0 auto;
}

#main h1 {
  text-align: center;
}

#main li {
  list-style-type: none;
}

